* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Verdona", "Arial", sans-serif;
}

@font-face {
    font-family: "Norse-Bold";
    src: url("fonts/Norse_Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
}

.image-container {
    width: 800px;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 100px;
    color:white;
    font-size: 60px;
    background-color: rgba(0, 0, 0,0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.odin {
    font-family: "Norse-Bold";
    margin-left: 10px;
}

.odin-logo {
    height: auto;
    width: 50px;
}


.overall-container {
    display: flex;
    flex-direction: column;
}

.top-form-container {
    margin: 50px 20px 30px 30px;
    line-height: 1.5;
    text-wrap: wrap;
}

.top-form-container .spiel {
    margin-top: 17px;
}

.top-form-container > h5 {
    font-size: 17px
}

label {
    display: block;
}

.middle-form-container {
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

.middle-form-container .title {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(36, 51, 84)
}

.middle-form-container input{
    padding: 5px;   
    width: 200px;
}

.form-row-1 {
    margin-right: 50px;
}

.form-row {
    display: flex;
    gap: 30px;
    margin-top: 5px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

input:focus {
    border: 1px solid rgb(25, 0, 255);
    background-color: rgb(238, 239, 252);
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input:user-invalid {
    border: 2px solid rgb(255, 65, 65);
}

.bottom-form-container {
    margin-left: 30px;
}

button {
    margin-bottom: 10px;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    background-color: #6b66ff; 
    border: 0;
    border-radius: 3px;
}

button:hover {
    background-color: #3430b2;
}

.bottom-form-container > p {
    margin-top: 5px;
    font-size: 13px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #3c38b9;
}

a:hover {
    color: #615cf4;
}