* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Verdona", "Arial", sans-serif;
}

body {
    display: flex;
}

.image-container {
    width: 800px;
    height: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.detail-container {
    margin: 75px 30px 0;
    line-height: 1.5;
}

.detail-container .spiel {
    margin-top: 10px;
}

.detail-container h5 {
    font-size: 15px
}