* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Verdona", "Arial", sans-serif;
}

body {
    display: flex;
}

.image-container {
    width: 800px;
    height: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.overall-container {
    display: flex;
    flex-direction: column;
}

.top-form-container {
    margin: 75px 20px 30px 30px;
    line-height: 1.5;
}

.top-form-container .spiel {
    margin-top: 17px;
}

.top-form-container > h5 {
    font-size: 17px
}

label {
    display: block;
}

.middle-form-container {
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

.middle-form-container .title {
    margin-top: 10px;
    font-size: 20px;
}

.form-row {
    display: flex;
    gap: 30px;
    margin-top: 5px;
}

.bottom-form-container {
    margin-left: 30px;
}

button {
    margin-bottom: 10px;
    padding: 10px 30px;
}